<div id="experiences-container">
  <div class="experience">
    <p id="_itManager" class="exp-head" (click)="activate($event)">Juillet 2018 - Aujourd'hui | UCLouvain (IT Manager)</p>
    <div class="exp-body">
      <p class="exp-gen-desc">IT manager dans un projet de création de spin-off universitaire. Projet dans le domaine médical en biomécanique de la colonne vertébrale.</p>
      <p class="exp-details">Compétences utilisées :</p>
      <ul>
        <li>Notions autour du marquage CE pour dispositifs médicaux</li>
        <li>ISO 13485 - Système de management de qualité, Dispositifs médicaux</li>
        <li>ISO 14971 - Gestion de risques, Dispositifs médicaux</li>
        <li>IEC 62304 - Processus de cycle de vie du logiciel, Dispositifs médicaux</li>
        <li>Rédaction de procédures et documentations suivant ces normes</li>
        <li>Suite du travail du stage ci-dessous</li>
      </ul>
    </div>
  </div>
  <div class="experience">
    <p id="_cadre" class="exp-head" (click)="activate($event)">Juin 2017 - Aujourd'hui | Fédération Les Scouts (Cadre fédéral)</p>
    <div class="exp-body">
      <p class="exp-gen-desc">Equipier fédéral du groupe Les Sept Meuse qui comprend 12 unités. Entièrement bénévolement.</p>
      <p class="exp-details">Missions effectuées:</p>
      <ul>
        <li>Soutenir les unités du groupe LSM</li>
        <li>Former les animateurs de la fédérations</li>
        <li>Participer à la vie du mouvement</li>
      </ul>
    </div>
  </div>
  <div class="experience">
    <p id="_intern" class="exp-head" (click)="activate($event)">Février 2018 - Mai 2018 | UCLouvain (IT intern)</p>
    <div class="exp-body">
      <p class="exp-gen-desc">Stagiaire IT dans un projet de création de spin-off universitaire. Projet dans le domaine médical en biomécanique de la colonne vertébrale.</p>
      <p class="exp-details">Compétences utilisées :</p>
      <ul>
        <li>Design d'une architecture d'une solution Web</li>
        <li>Implémentations d'applications Symfony 4</li>
        <li>Implémentation et administration d'une base de données</li>
        <li>Implémentation d'un outil Web de traitement de radiographies</li>
      </ul>
    </div>
  </div>
  <div class="experience">
    <p id="_anim" class="exp-head" (click)="activate($event)">Septembre 2012 - Août 2017 | Fédération Les Scouts (Animateur)</p>
    <div class="exp-body">
      <p class="exp-gen-desc">Entièrement bénévolement.</p>
      <p class="exp-details">Missions effectuées :</p>
      <ul>
        <li>Animateur puis animateur responsable d'une meute de 40 louveteaux (8-12 ans)</li>
        <li>Intendant lors de trois week-ends ayant de 30 à 50 personnes</li>
        <li>Intendant responsable lors de deux camps (baladins et louveteaux) ayant entre 30 et 50 personnes</li>
      </ul>
    </div>
  </div>
</div>
