.experience{
  margin: 15px 0px;
}
.experience p{
  margin: 0;
}
.exp-head{
  padding: 5px 20px;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}
.exp-head{
  cursor: pointer;
}
.exp-body{
  border: 1px solid grey;
  border-radius: 0px 0px 5px 5px;
  border-top: none;

  overflow-y: scroll;
  transition: height 1s ease 0s;
}
.exp-gen-desc{
  padding: 5px 20px;
  font-size: 20px;
  font-style: italic;
}
.exp-details{
  padding: 5px 20px;
}

.inactive .exp-body{
  transition: height 1s ease 0s;
}
