<div id="formations-container">
  <div class="formation">
    <p id="_henallux" class="forma-head" (click)="activate($event)">Bachelier en informatique de Gestion</p>
    <div class="forma-body">
      <p class="forma-gen-desc">Distinction | 2013 - 2018 | Haute Ecole de Namur Liège Luxembourg</p>
      <p class="forma-details">Description de la formation et du champ professionnel :</p>
      <ul>
        <li><a href="https://www.henallux.be/informatique-de-gestion" target="_blank">Site de l'Henallux</a></li>
      </ul>
    </div>
  </div>
  <div class="formation">
    <p id="_cadre" class="forma-head" (click)="activate($event)">Formation de cadre fédéral Les Scouts</p>
    <div class="forma-body">
      <p class="forma-gen-desc">2017 - 2019 | Fédération Les Scouts (Cadre fédéral)Formation de cadre fédéral en 5 week-ends pour développer toute une série de compétence visant à remplir nos trois missions.</p>
      <p class="forma-details">Formation de cadre fédéral en 5 week-ends pour développer toute une série de compétence visant à remplir nos trois missions. Liste non-exhaustive d'outils appris :</p>
      <ul>
        <li>Assertivité & feedback constructif</li>
        <li>Matrice SWOT</li>
        <li>Objectifs SMART+</li>
      </ul>
    </div>
  </div>
  <div class="formation">
    <p id="_anim" class="forma-head" (click)="activate($event)">Brevet d'animateur de centre de vacances</p>
    <div class="forma-body">
      <p class="forma-gen-desc">2015 | Fédération Wallonie-Bruxelles.</p>
    </div>
  </div>
  <div class="formation">
    <p id="_isln" class="forma-head" (click)="activate($event)">CESS dans l'enseignement général</p>
    <div class="forma-body">
      <p class="forma-gen-desc">2013 | Institut Saint Louis Namur</p>
      <p class="forma-details">Options</p>
      <ul>
        <li>Grec ancien - 4 heures</li>
        <li>Mathématiques - 6 heures</li>
        <li>Néerlandais - 4 heures</li>
        <li>Anglais - 4 heures</li>
      </ul>
    </div>
  </div>
</div>
