<div id="id-card" class="justify-content-end">
  <img src="assets/photo.png"/>
  <h1>Augustin Ledoyen</h1>
  <p class="catch-phrase">
    Jeune informaticien de gestion actuellement à la recherche d'un CDI dans une entreprise ou un projet de création d'entreprise qui soit motivant et rempli de challenges.
  </p>
  <p class="contact">
    augustinledoyen@gmail.com<br/>
    +32 487 48 48 57
  </p>
  <p class="birthday">
    16 octobre 1995
  </p>
  <p class="address">
    Rue Fond de Vau, 44<br/>
    5170 Lesve - Belgique
  </p>
</div>
