<div id="container-main-part">
  <!-- <div id="navbar">
    <ul>
      <li id="nav-skills" class="current-component"><a routerLink="/skills">Compétences</a></li>
      <li id="nav-exp"><a routerLink="/experiences">Expériences</a></li>
      <li id="nav-forma"><a routerLink="/formations">Formations</a></li>
      <li id="nav-random"><a routerLink="/divers">Faits divers</a></li>
    </ul>
  </div> -->
  <div id="navigation-bar">
    <button id="nav-exp" class="btn-page current-component" routerLink="/experiences">Expériences</button>
    <button id="nav-skills" class="btn-page" routerLink="/skills">Compétences</button>
    <button id="nav-forma" class="btn-page" routerLink="/formations">Formations</button>
    <button id="nav-random" class="btn-page" routerLink="/divers">Faits divers</button>
  </div>
  <div id="data-container">
    <div id="word-cloud">
      <img src="../assets/skills_cloud{{name}}.png"/>
    </div>
    <div id="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
