#container-main-part{
}

#content-container{
  position: relative;
  overflow-y: scroll;
  margin: 30px 10px 0px;
  padding: 20px 10px;
  width: 50%;
  /* box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;

}
#navigation-bar{
  display: flex;
  justify-content: center;
  font-size: 22px;
}
#data-container{
  display: flex;
  align-items: center;
}
#word-cloud{
  width: 40%;
  float: left;
}
#word-cloud img{
  max-width: 100%;
  margin-top: 50px;
}
.btn-page{
  margin: 0px 10px;
  padding: 5px 10px;
  color: grey;
  background-color: #fff;
  box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.2);
  border: none;
  cursor: pointer;
  z-index: 1;

  transition-property: color, box-shadow;
  transition-duration: 0.5s;
}
.btn-page:hover{
  /* background-color: lightgrey; */
  color: #000;
  box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.5);

}
.btn-page:focus{
  outline: none;
}
.btn-page.current-component{
  color: #000;
}
