.skill{
  margin: 15px 0px;
}
.skill p{
  margin: 0;
}
.skill-head{
  padding: 5px 20px;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}
.skill-head{
  cursor: pointer;
}
.skill-body{
  border: 1px solid grey;
  border-radius: 0px 0px 5px 5px;
  border-top: none;

  overflow-y: scroll;
  transition: height 1s ease 0s;
}
.skill-gen-desc{
  padding: 5px 20px;
  font-size: 20px;
  font-style: italic;
}
.skill-details{
  padding: 5px 20px;
}

.inactive .skill-body{
  transition: height 1s ease 0s;
}

.main-list{
  list-style: none;
  padding-left: 10px;
  margin: 0;
}
.sub-list{
  list-style: none;
}
.arrow-skill-details{
  display: inline-block;
  transition: transform 1s;
  color: lightgrey;
}
.arrow-skill-details:hover{
  cursor: pointer;
}
.arrow-skill-details.active{
  transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  transition: transform 1s;
}
.detailed-skill{
  overflow: hidden;
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
  max-height: 100px;
  transition: max-height 1s linear 0s;
  -moz-transition: max-height 1s linear 0s;
}
.detailed-skill.inactive{
  max-height: 0px;
}

/* About Languages */
#languages-container li{
  background-color: grey;
  color: white;
  margin-top: 10px;
  padding: 5px 20px;
  font-weight: bold;
  /* if list style none on all list => i can take this line down */
  list-style: none;
  border-radius: 0px 5px 5px 0px;
}
.en{
  width: 70%;
}
.nl{
  width: 60%;
}
