<div id="skills-container">
  <div class="skill">
    <p id="_progra" class="skill-head" (click)="activate($event)">Programmation</p>
    <div class="skill-body">
      <p class="skill-gen-desc">Liste des langages de programmation, ainsi que les frameworks en dépendant, que j'ai appris</p>
      <p class="skill-details"></p>
      <ul class="main-list">
        <li class="skill-with-details">HTML/CSS <span class="arrow-skill-details" (click)="expand($event)">▼</span>
          <p class="detailed-skill inactive">Connaissance générale d'HTML et de CSS, utilisation de base de Bootstrap. Objectif d'un design responsive</p>
        </li>
        <li class="skill-with-details">Javascript <span class="arrow-skill-details" (click)="expand($event)">▼</span>
          <p class="detailed-skill inactive">Apprentissage du langage, utilisation de différentes librairies et développement d'outils</p>
        </li>
        <li class="skill-with-details">Typescript <span class="arrow-skill-details" (click)="expand($event)">▼</span>
          <p class="detailed-skill inactive">Découverte et apprentissage en auto-didacte de Typescript en utilisant le framework Angular (v7.2.10) notament pour la réalisation de ce curriculum vitae</p>
        </li>
        <li class="skill-with-details">PhP <span class="arrow-skill-details" (click)="expand($event)">▼</span>
          <p class="detailed-skill inactive">Approche de différents frameworks: principalement Symfony 4 mais également Lumen de Laravel</p>
        </li>
        <li>Python</li>
        <li class="skill-with-details">Java Web <span class="arrow-skill-details" (click)="expand($event)">▼</span>
          <p class="detailed-skill inactive">Approche via le framework Spring avec Security, Hibernate, Internationalisation, etc.</p>
        </li>
        <li class="skill-with-details">SQL <span class="arrow-skill-details" (click)="expand($event)">▼</span>
          <p class="detailed-skill inactive">Approche de MySQL, SQL server, T-SQL et MariaDb</p>
        </li>
        <li>C</li>
        <li>Cobol</li>
        <li>Java</li>
      </ul>
    </div>
  </div>
  <div class="skill">
    <p id="_it" class="skill-head" (click)="activate($event)">IT étendu</p>
    <div class="skill-body">
      <p class="skill-gen-desc">Série de compétences liées à l'IT qui ont été acquises lors d'expériences professionnelles et de formations</p>
      <p class="skill-details"></p>
      <ul class="main-list">
        <li>Administration de bases de données</li>
        <li>Analyse de processus métiers</li>
        <li>Git</li>
        <li>Système de management de qualité</li>
        <li>Gestion de risques</li>
        <li>Cycle de vie d'un logiciel</li>
        <li>Internationalisation de systèmes</li>
        <li>Linux</li>
        <li class="skill-with-details">Autre <span class="arrow-skill-details" (click)="expand($event)">▼</span>
          <p class="detailed-skill inactive">Une série d'autres compétences ont été acquises mais par un manque de pratique, j'ai préféré me focaliser sur les principales. Par exemple: des design patterns, d'autres frameworks, etc.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="skill">
    <p id="_gen" class="skill-head" (click)="activate($event)">Générales</p>
    <div class="skill-body">
      <p class="skill-gen-desc">Compétences générales sur ma manière de fonctionner</p>
      <p class="skill-details"></p>
      <ul class="main-list">
        <li>Autonome</li>
        <li>Travail de groupe</li>
        <li>Volonté de :</li>
        <ul class="sub-list">
          <li>- Performances</li>
          <li>- Efficience</li>
          <li>- Apprendre</li>
        </ul>
        <li>Faculté d'utilisation d'environnements</li>
      </ul>
    </div>
  </div>
  <div class="skill">
    <p id="_lang" class="skill-head" (click)="activate($event)">Langues</p>
    <div class="skill-body">
      <p class="skill-gen-desc">Langues étrangères que j'ai apprises</p>
      <p class="skill-details"></p>
      <ul class="main-list">
        <li class="fr">Français</li>
        <li class="en">Anglais</li>
        <li class="nl">Néerlandais</li>
      </ul>
    </div>
  </div>
</div>
