.main-list{
  list-style: none;
  padding-left: 10px;
  margin: 0;
}
.sub-list{
  list-style: none;
}
.arrow-skill-details{
  display: inline-block;
  transition: transform 1s;
  color: lightgrey;
}
.arrow-skill-details:hover{
  cursor: pointer;
}
.arrow-skill-details.active{
  transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  transition: transform 1s;
}
.detailed-skill{
  overflow: hidden;
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
  max-height: 200px;
  transition: max-height 0.8s linear 0s;
  -moz-transition: max-height 0.8s linear 0s;
}
.detailed-skill.inactive{
  max-height: 0px;
}
