<h4>
  Loisirs, hobbies, centres d'intérêts et faits divers
</h4>
<p>Certains de ces éléments ne sont plus vécus mais sont des parties qui m'ont forgé tel que je suis actuellement</p>
<ul class="main-list">
  <li class="skill-with-details">Sports d'équipes <span class="arrow-skill-details" (click)="expand($event)">▼</span>
    <p class="detailed-skill inactive">Je suis passé par différents sports d'équipe tel que le hockey sur gazon synthétique pendant 5 ans et du volley pendant 4 ans</p>
  </li>
  <li class="skill-with-details">Les scouts <span class="arrow-skill-details" (click)="expand($event)">▼</span>
    <p class="detailed-skill inactive">J'ai déjà décrit dans mes <a href="/experiences">expériences</a> ainsi que dans mes <a href="/formations">formations</a> certaines étapes par lesquelles je suis passé mais pour moi, voir et participar au scoutisme c'est plus qu'une expérience ou des formations, c'est une réelle passion.</p>
  </li>
  <li class="skill-with-details">Autodidacte <span class="arrow-skill-details" (click)="expand($event)">▼</span>
    <p class="detailed-skill inactive">J'ai dans mes compétences une certaine autonomie et une envie d'apprendre constante. Les deux regroupés font qu'apprendre par moi-même sur base des connaissances déjà acquises est également quelque chose qui me forge de l'expérience. J'apprend en faisant ainsi qu'en comprenant mes erreurs et les corrigeant. Le meilleur exemple est ce CV qui est la toute première application que je fait en utilisant le framework Angular.</p>
  </li>
  <li class="skill-with-details">Jeux vidéos <span class="arrow-skill-details" (click)="expand($event)">▼</span>
    <p class="detailed-skill inactive">J'aime bien de passer du temps sur différents types de jeux vidéos. Je préfère en général les STR (ex: Civilization), les MMORPG (ex: Tera) et les jeux de gestion (ex: Oxygen Not Included)</p>
  </li>
  <li class="skill-with-details">Lecture <span class="arrow-skill-details" (click)="expand($event)">▼</span>
    <p class="detailed-skill inactive">J'ai beaucoup lu de bandes dessinées et des romans pendant mon adolescence. C'est quelque chose que j'ai un peu perdu avec le temps mais qui me plaît encore</p>
  </li>
</ul>
