<div id="profile-container" (window:resize)="onResize($event)">
  <app-id-card></app-id-card>
</div>
<div id="not-profile-container">
  <app-container-main-part></app-container-main-part>
</div>
<a id="google" href="http://www.google.com" style="display:none;">google</a>
