#profile-container{
  position: relative;
  border-right: 1px solid lightgrey;
  width: 20%;
  min-width: 250px;
  float:left;
  margin-left: 2%;
  text-align: right;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  z-index: 1;

  box-shadow: 10px 0px 10px 3px rgba(0, 0, 0, 0.2);
}
#not-profile-container{
  width:70%;
  float:right;
  margin-right:2%;
}
